body{
	background-color: black;
	text-align: center;
}
h1{
	margin-top: 100px;
	color: ghostwhite;
	font-family: cursive;
}

b{
	color: darkgrey;
	font-family: cursive;
}

th,td{
	color: whitesmoke;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.head{
	color: antiquewhite;
}
.button{
	font-size: 18px;
	font-family: monospace;
	border-spacing: 100px;
	border-radius: 18px;
}

.ip{
	background-color: black;
	border-color: grey;
	color: white;
}